@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --app-background-color: #7ad7f0;
}

html, head, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--app-background-color);
}

.category-list {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-evenly;
    padding-left: 0;
}

.category-item {
    padding: 10px;
    margin: 10px;
}

.category-btn {
    margin: 5px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
    min-width: 250px;
    border-radius: 30px;
    color: white;
    background-color: cadetblue;
}

.title {
    color: white;
    margin: 50px auto;
    text-align: center;
}

.card {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    border-radius: 5px;
    border: 10px solid white;
}

.banner-title {
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    left: 0;
    color: white;
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.label {
    text-transform: uppercase;
}

.category-thumbnail {
    height: 200px;
    width: 250px;
    border-radius: inherit;

}

/* Timer styles */
.timer {
    margin: 10px auto;
    padding: 5px;
    background: white;
    max-width: 400px;
    color: red;
}

.main-header {
    text-transform: uppercase;
    margin: 20px;
    color: white;
}

.center-text {
    text-align: center;
    align-items: center;
}

.main-container {
    margin: 10px 150px;
    padding: 5px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.resultScore {
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    max-width: 300px;
    border-radius: 5px;
}

.resultScore > h3 {
    /*color: red;*/
}

.question-container {
    list-style: none;
    padding: 80px;
    max-width: 450px;
    color: white;
    order: 2;
    flex: 1 1;
    transition: all 1s;
}

.question-card {
    border-radius: 5px;
    min-height: 450px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.questionText {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    padding: 20px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    text-transform: uppercase;
    background: #0099bd;
}

.header-sm {
    margin-top: 0;
    margin-bottom: 30px;
}

.answer-list {
    list-style: none;
    padding: 10px;
}

.btn-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    position: relative;
}


.btn:hover {
    cursor: pointer;
}

.prev-btn {
    order: 1
}

.next-btn {
    order: 3
}

.answer-label {
    padding-left: 10px;
}

.answer-btn {
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid black;
    text-align: left;
    display: flex;
    align-items: center;
}

.answer-btn:hover {
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid #b8daff;
}

.optionNumber {
    padding: 0 5px;
    margin: 0 15px;
    border: 2px solid black;
    border-radius: 50%;
}

.greenButton {
    background-color: #C8E6C9;
    border: 1px solid #439446;
}

.redButton{
    border: 1px solid #e9818e;
    background-color: #fcdfe2;
}

.logo{
    width: 100px;
    height: 100px;
}
